<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sample App</title>
    <link rel="stylesheet" href="style.css">
    <script src="all.min.js"></script>
  </head>
  <body ng-app="veritasRh" layout="column" ng-cloak>

    <md-progress-linear md-mode="indeterminate" id="loading-bar" ng-if="$root.glassLoading"></md-progress-linear>

    <div id="application" ng-class="{'blur-element':$root.glassLoading === true}">
      <menu-bar></menu-bar>
      <md-content flex layout="column">
        <ui-view></ui-view>
      </md-content>
    </div>

  </body>
</html>
